/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* custom sytles */

/* ...................................... */
/* header */

.header {
    background-color:rgb(7,21,76) ;
    text-align: center;   
}
.nav0 {
    padding: 15px;
}
.nav1 {
    color:green ;
    padding-right: 20px;
    text-decoration: none;
}
.nav2 {
    color:white ;
    text-decoration: none;
}
/* ........................ */
/* body */

.outer1 {
    margin-left: 10%;
    width: 35%;
    display: inline-block;
    margin-top: 10px;
}

.img1 {
    width: 500px;
    height: 400px;
    display: inline-block; 
}
h1 {
    color: navy;
    font-size: 30px;
    font-weight: bold       
}
.para1 {
    font-size: 25px;
    margin-top: 10px;
    
}
.readmoreback {
    width: 100px;
    height: 30px;
    background-color: green;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    margin: 15px;
}
.link1 {
    color: white;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: middle;
}
.article1 { 
    margin-right:5% ;
    width: 30%;
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
}
.article2 {
    margin-left: 10%;
    width: 33%;
    display: inline-block; 
}
h3 {
    font-size: 30px ;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: navy;
}
.para3 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.para2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: navy;
}

.img2 {
    width: 500px;
    display: inline-block;
}

.article3 {
    margin-left: 2%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.img3 {
    width: 500px;
    display: inline-block;
}
.learnmore {
    color: green;
}
.margin-top {
    margin-top: 40px;
}
.margin-bottom {
    margin-bottom: 20px;
}